Repository Ocramius/ProxyManager, pull requests merged in 2019-08, with the labels that each got.

#470 #469 ensure factory considers `proxyOptions` when generating unique class names
  src/ProxyManager/Factory/AbstractBaseFactory.php
  tests/ProxyManagerTest/Factory/AbstractBaseFactoryTest.php
Labels: bug

#486 Remove process isolation from tests around file writer generators
  src/ProxyManager/Generator/Util/UniqueIdentifierGenerator.php
  src/ProxyManager/GeneratorStrategy/FileWriterGeneratorStrategy.php
  src/ProxyManager/ProxyGenerator/Util/UnsetPropertiesGenerator.php
  tests/ProxyManagerTest/Factory/AccessInterceptorValueHolderFactoryTest.php
  tests/ProxyManagerTest/Functional/AccessInterceptorScopeLocalizerFunctionalTest.php
  tests/ProxyManagerTest/Functional/AccessInterceptorValueHolderFunctionalTest.php
  tests/ProxyManagerTest/Functional/FatalPreventionFunctionalTest.php
  tests/ProxyManagerTest/Functional/LazyLoadingGhostFunctionalTest.php
  tests/ProxyManagerTest/Functional/LazyLoadingValueHolderFunctionalTest.php
  tests/ProxyManagerTest/Generator/Util/ClassGeneratorUtilsTest.php
  tests/ProxyManagerTest/GeneratorStrategy/FileWriterGeneratorStrategyTest.php
  tests/ProxyManagerTest/ProxyGenerator/AbstractProxyGeneratorTest.php
  tests/ProxyManagerTest/ProxyGenerator/AccessInterceptorScopeLocalizer/MethodGenerator/MagicCloneTest.php
  tests/ProxyManagerTest/ProxyGenerator/AccessInterceptorScopeLocalizer/MethodGenerator/MagicGetTest.php
  tests/ProxyManagerTest/ProxyGenerator/AccessInterceptorScopeLocalizer/MethodGenerator/MagicIssetTest.php
  tests/ProxyManagerTest/ProxyGenerator/AccessInterceptorScopeLocalizer/MethodGenerator/MagicSetTest.php
  tests/ProxyManagerTest/ProxyGenerator/AccessInterceptorScopeLocalizer/MethodGenerator/MagicSleepTest.php
  tests/ProxyManagerTest/ProxyGenerator/AccessInterceptorScopeLocalizer/MethodGenerator/MagicUnsetTest.php
  tests/ProxyManagerTest/ProxyGenerator/AccessInterceptorScopeLocalizer/MethodGenerator/Util/InterceptorGeneratorTest.php
  tests/ProxyManagerTest/ProxyGenerator/AccessInterceptorValueHolder/MethodGenerator/InterceptedMethodTest.php
  tests/ProxyManagerTest/ProxyGenerator/AccessInterceptorValueHolder/MethodGenerator/MagicCloneTest.php
  tests/ProxyManagerTest/ProxyGenerator/AccessInterceptorValueHolder/MethodGenerator/MagicGetTest.php
  tests/ProxyManagerTest/ProxyGenerator/AccessInterceptorValueHolder/MethodGenerator/MagicIssetTest.php
  tests/ProxyManagerTest/ProxyGenerator/AccessInterceptorValueHolder/MethodGenerator/MagicSetTest.php
  tests/ProxyManagerTest/ProxyGenerator/AccessInterceptorValueHolder/MethodGenerator/MagicUnsetTest.php
  tests/ProxyManagerTest/ProxyGenerator/AccessInterceptorValueHolder/MethodGenerator/StaticProxyConstructorTest.php
  tests/ProxyManagerTest/ProxyGenerator/AccessInterceptorValueHolder/MethodGenerator/Util/InterceptorGeneratorTest.php
  tests/ProxyManagerTest/ProxyGenerator/Assertion/CanProxyAssertionTest.php
  tests/ProxyManagerTest/ProxyGenerator/LazyLoadingGhost/MethodGenerator/CallInitializerTest.php
  tests/ProxyManagerTest/ProxyGenerator/LazyLoadingGhost/MethodGenerator/InitializeProxyTest.php
  tests/ProxyManagerTest/ProxyGenerator/LazyLoadingGhost/MethodGenerator/MagicCloneTest.php
  tests/ProxyManagerTest/ProxyGenerator/LazyLoadingGhost/MethodGenerator/MagicSleepTest.php
  tests/ProxyManagerTest/ProxyGenerator/LazyLoadingValueHolder/MethodGenerator/LazyLoadingMethodInterceptorTest.php
  tests/ProxyManagerTest/ProxyGenerator/LazyLoadingValueHolder/MethodGenerator/MagicCloneTest.php
  tests/ProxyManagerTest/ProxyGenerator/LazyLoadingValueHolder/MethodGenerator/MagicGetTest.php
  tests/ProxyManagerTest/ProxyGenerator/LazyLoadingValueHolder/MethodGenerator/MagicIssetTest.php
  tests/ProxyManagerTest/ProxyGenerator/LazyLoadingValueHolder/MethodGenerator/MagicSetTest.php
  tests/ProxyManagerTest/ProxyGenerator/LazyLoadingValueHolder/MethodGenerator/MagicSleepTest.php
  tests/ProxyManagerTest/ProxyGenerator/LazyLoadingValueHolder/MethodGenerator/MagicUnsetTest.php
  tests/ProxyManagerTest/ProxyGenerator/RemoteObject/MethodGenerator/MagicGetTest.php
  tests/ProxyManagerTest/ProxyGenerator/RemoteObject/MethodGenerator/MagicIssetTest.php
  tests/ProxyManagerTest/ProxyGenerator/RemoteObject/MethodGenerator/MagicSetTest.php
  tests/ProxyManagerTest/ProxyGenerator/RemoteObject/MethodGenerator/MagicUnsetTest.php
  tests/ProxyManagerTest/ProxyGenerator/Util/PropertiesTest.php
  tests/ProxyManagerTest/ProxyGenerator/Util/UnsetPropertiesGeneratorTest.php
  tests/ProxyManagerTest/ProxyGenerator/ValueHolder/MethodGenerator/MagicSleepTest.php
Labels: bug

#491 Redirect to github repository documentation
  .gitignore
  .scrutinizer.yml
  .travis.install.sh
  .travis.yml
  changelog.html
  contributing.html
  css/highlight.dark.css
  css/main.css
  doc-template/img/block.png
  doc-template/img/enf.png
  docs/access-interceptor-scope-localizer.html
  docs/access-interceptor-value-holder.html
  docs/copyright.html
  docs/credits.html
  docs/download.html
  docs/generator-strategies.html
  docs/lazy-loading-ghost-object.html
  docs/lazy-loading-value-holder.html
  docs/null-object.html
  docs/remote-object.html
  docs/tuning-for-production.html
  img/block.png
  img/enf.png
  index.html
  proxy-manager.png
  stability.html
  upgrade.html
Labels: docs

#490 Just redirect right away from the "index" doc
  .gitattributes
  .gitignore
  .travis.yml
  composer.json
  couscous.yml
  doc-template/css/highlight.dark.css
  doc-template/css/main.css
  doc-template/default.twig
  doc-template/favicon.ico
  doc-template/img/block.png
  doc-template/img/enf.png
  html-docs/access-interceptor-scope-localizer-proxy.html
  html-docs/access-interceptor-value-holder-proxy.html
  html-docs/contributing.html
  html-docs/copyright.html
  html-docs/credits.html
  html-docs/download.html
  html-docs/ghost-object.html
  html-docs/index.html
  html-docs/null-object.html
  html-docs/production.html
  html-docs/remote-object.html
  html-docs/virtual-proxy.html
Labels: docs, enhancement
